.button-wrapper{
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.button-wrapper i{
  margin-right: 10px;
}

.info-wrapper{
  width: 100%;
  flex-grow: 1;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.lang-controls{
  margin: 15px 10px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lang-controls p{
  margin: 10px 5px;
}

.lang-controls i{
  font-size: 0.4em;
  margin: 0px 5px;
}

.bio{
  max-height: 100%;
  width: 360px;
  margin: 0px 20px;
  line-height: 1.5;
  overflow-y: auto;
}

@media (max-width: 590px){
  .info-wrapper{
    max-height: none;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }

  .button-wrapper{
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
  }

  .lang-controls{
    margin: 0px;
    align-self: flex-start;
    display: flex;
  }

  .bio{
    width: 100%;
  }

  .bio p{
    margin: 0px;
  }
}

@media (max-width: 400px){
  .lang-controls{
    margin: 0px;
  }

  .lang-controls p{
    font-size: 0.9em;
  }

  .bio p{
    font-size: 0.9em;
  }
}