.info-wrapper{
  width: 100%;
  flex-grow: 1;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.controls{
  margin: 15px 10px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls p{
  margin: 10px 5px;
}

.arrow{
  font-size: 1em;
  margin: 0px 5px;
}

.dot{
  font-size: 0.4em;
  margin: 0px 8px;
}

.contact-info{
  width: 330px;
  margin: 25px 20px;
}

.contact-info p{
  user-select: text;
}

.contact-info i {
  margin-right: 10px;
  font-size: 1.4em;
  color: var(--accent-1);
}

.contact-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link{
  color: var(--text-1);
}

.link:hover{
  transform: none;
  text-decoration: underline;
}

@media (max-width: 520px){
  .info-wrapper{
    max-height: none;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }

  .controls{
    margin: 0px;
    align-self: flex-start;
    display: flex;
  }

  .contact-info{
    width: 100%;
  }
}

@media (max-width: 400px){
  .contact-info p, .contact-info a{
    font-size: 0.9em;
  }
}