:root{
  --bg-1: #5d5d5d;
  --bg-2: #404040;
  --bg-3: #2c2c2c;
  --bg-4: #1c1c1c;
  --bg-5: #121212;

  --accent-1: #e19437;
  --accent-2: #c37f2c;
  --accent-3: #ae7024;

  --text-1: #191919;
  --text-2: #090909;
}