:root{
  --bg-1: #5d5d5d;
  --bg-2: #404040;
  --bg-3: #2c2c2c;
  --bg-4: #1c1c1c;
  --bg-5: #121212;

  --accent-1: #c9832c;
  --accent-2: #b07022;
  --accent-3: #9c621b;

  --text-1: #191919;
  --text-2: #090909;
}